/* Generic */

body {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 1em;
  width: 37em;
  margin-left: auto;
  margin-right: auto;
}

h1, h2 { font-family: 'Corben', Georgia, Times, serif; }

h2 { font-weight: normal; margin-top: 2em; }

p { line-height: 1.5em; }

pre { margin-top: 0; }

p > * {
  display: inline-block;
  margin-right: 0.5em;
}

div { text-align: right; }

/* Graph */

svg {
  font-family: inherit;
  width: 38em;
  height: 2.25em;
  position: relative;
}

.background { fill: #DDD; }

.marker {
  fill: #000;
  text-anchor: middle;
  font-size: 0.75em;
}

rect.progress { fill: dodgerblue; }

text.progress { fill: white; text-anchor: end; }


/* UI controls */

input, button {
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  line-height: 1em;
}

input {
  margin-left: -0.75em;
  text-indent: 0.6em;
  width: 2.1em;
  border: 1px solid #DDD;
  background-color: transparent
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* Hide spinner buttons on number input */
  -webkit-appearance: none;
  margin: 0;
}